
.fan-tip {
  pointer-events: none;
}

.fan-tip .tip-arrow {
  display: none;
}

.arc.person {
  stroke: white;
  stroke-width: 4px;
  fill: #eee;
}

.arc.person.me {
  stroke: transparent;
  fill: transparent;
}

.radial {
  stroke: #ccc;
  fill: transparent;
  stroke-width: 5px;
  stroke-linecap: square;
}

.arc.person.working {
  fill: #eee;
}

.arc.person.clean {
  fill: rgb(150, 230, 255);
}

.arc.person.complete {
  fill: rgb(115, 255, 176);
}
