
.printable .arc.person {
  fill: white;
  stroke: lightGrey;
}

.printable .radial {
  stroke-width: 3px;
  stroke: black;
}

.printable text {
  text-anchor: middle;
  pointer-events: none;
}

.fan-tip {
  pointer-events: none;
}

.fan-tip .tip-arrow {
  display: none;
}

.person {
  cursor: pointer;
}

.circle.person {
  stroke: #999;
  stroke-width: 2px;
}

.rect.person {
  stroke: white;
  stroke-width: 4px;
}

.arc.person {
  stroke: white;
  stroke-width: 4px;
}

.radial {
  stroke: #ccc;
  fill: transparent;
  stroke-width: 2px;
  stroke-linecap: square;
}

.person, .person.inactive {
  fill: #eee;
  background-color: #eee;
}

.person.active {
  fill: #fbe;
  background-color: #fbe;
}

.person.clean {
  fill: rgb(150, 230, 255);
  background-color: rgb(150, 230, 255);
}

.person.complete {
  fill: rgb(115, 255, 176);
  background-color: rgb(115, 255, 176);
}
